<div>
  <input
    type="text"
    placeholder="Appointment description"
    [(ngModel)]="newAppointmentTitle"
  />
  <input
    type="text"
    placeholder="Appointment date"
    [(ngModel)]="newAppointmentDate"
  />
  <button (click)="addAppointment()">Add</button>

  <ul *ngFor="let appointment of appointments; index as i">
    <li>{{ appointment.title }}</li>
    <li>{{ appointment.id }}</li>
    <li>{{ appointment.date.toLocaleDateString() }}</li>
    <button (click)="deleteAppointment(appointment)">Delete</button>
  </ul>
</div>
